{
  "channel_defaults": {},
  "server": {
    "debug": false,
    "ffmpeg_path": "./external_tools/",
    "http_debug": false,
    "http_demo": true,
    "http_dir": "media_web",
    "http_login": "mjy",
    "http_password": "mjy",
    "http_port": ":8083",
    "https": true,
    "https_auto_tls": false,
    "https_auto_tls_name": "",
    "https_cert": "server.crt",
    "https_key": "server.key",
    "https_port": ":443",
    "ice_credential": "mjy",
    "ice_servers": [
      "turn:14.14.14.2:8888",
      "turn:14.14.14.2:8888?transport=tcp"
    ],
    "ice_username": "mjy",
    "log_level": "panic",
    "maintenance": {
      "base_root": ".",
      "default_safety_free_space": 5,
      "disk_check_interval": 1,
      "retention_capacity": 500,
      "retention_days": 30
    },
    "rtsp_port": ":5541",
    "token": {
      "backend": "",
      "enable": false
    },
    "webrtc_port_max": 49220,
    "webrtc_port_min": 49152
  },
  "streams": {
    "d2129943-c34d-4bb5-5ed8-0d131e5a7f72": {
      "channels": {
        "0": {
          "name": "ch1",
          "on_demand": true,
          "url": "rtsp://admin:password@14.14.14.7:5544/h264.sdp"
        }
      },
      "name": "test"
    }
  }
}